<!-- Projects Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">A collection of projects throughout my time in university.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dissertation</h4>
                    <p class="text-muted">"Exploring the Human Perception of Shadow Quality in 3D Environments and Games"</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Armoured Fighting Vehicles</h4>
                    <p class="text-muted">Satirical Tank War Game that won the Best Original Innovation in Gaming award at 2013 Games Fleadh.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aspects of Game Engine</h4>
                    <p class="text-muted">2D Circle-Circle and Circle-Line Physics Engine written in C++ and OpenGL.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Particle System</h4>
                    <p class="text-muted">2D Particle System written in C++ and OpenGL.</p>
                </div>
            </div>
          </hr>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chopper Command: Tactical War</h4>
                    <p class="text-muted">A reimagining of the original Chopper Command game, made in XNA and C# that won the 2012 Games Fleadh Cup.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Geography Horizons</h4>
                    <p class="text-muted">Application that makes the use of Kinect and Bing maps to introduce gamification to school subjects at a high school level that reached the Ireland Regional Finals of the Microsoft Imagine Cup.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chronicles of Time</h4>
                    <p class="text-muted">Platformer created in Adobe Director based on time travel and a gravity gun.</p>
                </div>
            </div>
        </div>
    </section>
